<!-- about us --> 
<div class="about-w3layouts" id="about">
	<div class="container">	
		<h5 class="title-w3">About Us</h5>
		<div class="col-md-6 left-agile">
			<div id="horizontalTab">
					<ul class="resp-tabs-list">
						<li>Intro</li>
						<li>Services</li>
						<li>features</li>
					</ul>
					<div class="resp-tabs-container">
						<div class="tab1">
							<h4 class="sub-w3l">Introduction</h4>
							<p class="subp-w3l in1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin lobortis sem, sed fermentum neque condimentum eu fermentum dolor. </p>
							<h4 class="sub-w3l">Lorem Ipsum</h4>
							<p class="subp-w3l in1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin lobortis sem, sed fermentum neque condimentum ac. Phasellus elementum nibh Nunc in tempus neque, eu fermentum dolor. </p>
						</div>
						<div class="tab2">
							<i class="fa fa-cog i1" aria-hidden="true"></i>
							<h4 class="sub-w3l">Service 1</h4>
							<p class="subp-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin lobortis sem, sed fermentum neque condimentum ac. Phasellus elementum nibh Nunc in tempus neque, eu fermentum dolor. </p>
							<i class="fa fa-home i1" aria-hidden="true"></i>
							<h4 class="sub-w3l">Service 2</h4>
							<p class="subp-w3l">Ut interdum, quam in tempus tristique, turpis magna interdum nulla, sit amet interdum lacus tortor vitae ipsum. Etiam in hendrerit odio, sit amet semper nibh. Vestibulum laoreet egestas ipsum tristique varius.Suspendisse iaculis. dignissim diam sit amet fringilla.</p>
						</div>
						<div class="tab3">
							<i class="fa fa-building-o i1" aria-hidden="true"></i>
							<h4 class="sub-w3l">Our Feature</h4>
							<p class="subp-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin lobortis sem, sed fermentum neque condimentum ac. Phasellus elementum nibh Nunc in tempus neque, eu fermentum dolor. </p>
							<i class="fa fa-envira i1" aria-hidden="true"></i>
							<h4 class="sub-w3l">Lorem Ipsum</h4>
							<p class="subp-w3l">Etiam facilisis, enim eget tempus gravida, odio lectus tempus elit, at efficitur velit nunc ac consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In non odio elit. Nunc pharetra lorem elit Nunc suscipit, sapien a elementum aliquam.</p>	
						</div>
					</div>
			</div>
		</div>
		<div class="col-md-6 agileits_updates_grid_right">
					<h3>Featured <span>Services</span></h3>
					<ul id="flexiselDemo1">			
						<li>
							<img src="images/ab1.jpg" alt=" " class="img-responsive" />
						</li>
						<li>
							<img src="images/ab2.jpg" alt=" " class="img-responsive" />
						</li>
						<li>
							<img src="images/ab3.jpg" alt=" " class="img-responsive" />
						</li>
					</ul>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						  <h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche reprehenderit
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body panel_text">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body panel_text">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry quibusdam
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body panel_text">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche reprehenderit
							</a>
						  </h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						   <div class="panel-body panel_text">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						  </div>
						</div>
					  </div>
					</div>
		</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //about us --> 