
<div class="banner-text"> 
				<div class="container">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="banner-w3lstext home1">
									<h3>Real Property</h3>
									<p>Professional realtor works for you.</p>
								</div>
							</li>
							<li>
								<div class="banner-w3lstext home2" >
									<h3>Real Property</h3>
									<p>FIND YOUR DREAM LAND.</p>
								</div>
							</li>
							<li>
								<div class="banner-w3lstext home3" >
									<h3>Real Property</h3>
									<p>Professional realtor works for you.</p>
								</div>
							</li>
						</ul> 
					</div> 	
				</div>
			</div>
