<!-- footer -->
<div class="footer-agile">
	<div class="container">
		<div class="col-md-5 footer-main1">
			<h2>Real Property</h2>
		</div>
		<div class="col-md-7 footer-main2">
			<h4>Who we are</h4>
			<p>Lorem ipsum dolor sit amet Sed ut perspiciatis unde omnis iste natus error sit voluptatem dicta sunt explicabo.accusantium doloremque laudantium</p>
			<ul>
				<li><a href="#home" class="scroll">Home</a></li>
				<li><a href="#about" class="scroll">About Us</a></li>
				<li><a href="#team" class="scroll">Our Team</a></li>
				<li><a href="#blogs" class="scroll">Blogs</a></li>
				<li><a href="#properties" class="scroll">Properties</a></li>
				<li><a href="#contact" class="scroll">contact Us</a></li>
			</ul>
		</div>
		 <div class="clearfix"> </div>
		<div class="copyright-agile">
			<p>&copy; 2017 Real Property. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</div>
<!-- //footer -->
